/* ----------  щрифты  ---------- */

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
    font-weight: 900;
}

/* ----------  стили  ---------- */

html{
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    width: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Gilroy;
}

::selection{
    background: #75b9f1;
}

body{
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    width: 96%;
    margin: auto;
}

header{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    user-select: none;
}

.burger{
    cursor: pointer;
}

.burger::after{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 60px;
    background-color: #40434C;
}

.burger::before{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 60px;
    background-color: #40434C;
    margin-bottom: 6px;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

.arrow{
    width: 40px;
    height: 40px;
    padding-top: 30vmin;
    user-select: none;
    -webkit-user-drag: none;
}

.mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    color: #40434C;
    text-align: center;
}

.postTitle{
    font-weight: 500;
    font-size: 48px;
    color: #40434C;
    text-align: center;
    padding-bottom: 10vmin;
}

.activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    padding: 50px 0px;
    margin-bottom: 28px;
    transition: .1s ease;
    box-shadow: 0px 0px 34px 0px rgb(240, 240, 240);
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

.activityBlock1{
    display: flex;
    justify-content: space-around;
    width: 1540px;
}

.activityBlock2{
    display: flex;
    justify-content: space-between;
    width: 1140px;
}

.activity img{
    width: 84px;
    height: 84px;
    opacity: 84%;
    margin-bottom: 15px;
    user-select: none;
    -webkit-user-drag: none;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

.activityBlock1 p, .activityBlock2 p{
    font-size: 28px;
    color: #727272;
    text-align: center;
    user-select: none;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vmin;
}

.worksBlock1{
    
}

.worksBlock2{
    display: none;
}

.worksBlock3{
    display: none;
}

.worksBlock4{
    display: none;
}

.showMoreBlocks{
    text-align: center;
    color: #aaaaaa;
    margin: 20px 0px;
    cursor: pointer;
    user-select: none;
}

.cardCover{
    width: 1340px;
    height: 300px;
    z-index: 20;
    border-radius: 12px;
    position: absolute;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.workCard{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: 300px;
    box-shadow: 0px 0px 34px 0px rgb(240, 240, 240);
    transition: .2s ease;
    background-color: white;
    margin: 3vmin 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

.cardImg{
    border-radius: 12px;
    transition: .1s ease;
    transform: scale(1);
    user-select: none;
    width: 600px;
    user-select: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.cardTextBlock{
    position: absolute;
    left: 630px;
    top: 25px;
    cursor: default;
    transition: .2s;
    user-select: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.cardText{
    color: #40434C;
    margin-bottom: 6px;
    user-select: none;
}

.cardTextLink{
    color: #499fe6;
    margin-bottom: 6px;
    user-select: none;
}

.cardTextBlock h1{
    font-weight: 600;
}

.cardTextBlock h3{
    font-weight: 500;
}

.showMore{
    transition: .1s ease;
    cursor: pointer;
    padding: 12px 22px;
    background-color: rgb(240, 240, 240);
    color: #40434C;
    border: none;
    border-radius: 4px;
    user-select: none;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.newPageLink{
    position: absolute;
    z-index: 30;
    left: 630px;
    bottom: 25px;
    transition: .2s ease;
    cursor: default;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vmin;
    padding-bottom: 15vmin;
}

.request{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 950px;
}

.contactText{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.textTitle{
    color: #40434C;
    user-select: none;
    font-weight: 500;
}

.textSubtitle{
    width: 400px;
    font-size: 18px;
    color: #40434C;
    margin-top: 20px;
    margin-bottom: 50px;
    user-select: none;
}

.ourContacts{
    display: flex;
    width: 500px;
    margin: 14px 0px;
    align-items: center;
}

.miniIcon{
    width: 50px;
    height: 50px;
    user-select: none;
}

.iconTip{
    width: 340px;
    padding-left: 20px;
    font-size: 18px;
}

.requestForm{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    box-shadow: 0px 0px 34px 0px rgb(240, 240, 240);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.sendMail{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

label{
    color: #40434C;
    padding-bottom: 6px;
    user-select: none;
}

.inputForm{
    margin-bottom: 26px;
    padding: 12px 18px;
    border: solid rgb(214, 214, 214) 1px;
    border-radius: 4px;
    user-select: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.inputForm::placeholder{
    color: #acacac;
    user-select: none;
}

.sendMailButton{
    padding: 16px 28px;
    background-color: #499fe6;
    color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    margin-top: 26px;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.outside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vmin;
    width: 1340px;
    margin: auto;
}

.addImgs1{
    display: flex;
    flex-direction: row;
    width: 1340px;
    justify-content: space-between;
}

.addImgs2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.addImg1{
    border-radius: 12px;
    width: 60%;
    height: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.txtImg1{
    width: 34%;
    height: 34%;
}

.txtImg1 p{
    margin-top: 16px;
    font-size: 24px;
    color: #40434C;
}

.txtImg2 p{
    font-size: 24px;
    color: #40434C;
}

.txtImg2{
    margin-top: -140px;
    width: 48%;
    height: 48%;
}
.txtImg4{
    width: 46%;
    height: 46%;
}

.txtImg4 p{
    font-size: 24px;
    margin-top: 6px;
    color: #40434C;
}

.addImg2{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.addImg3{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.addImg4{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.chess1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 90px;
    width: 1340px;
}

.chess2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 90px;
    width: 1340px;
}

.chess3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1340px;
}

.chess1 img, .chess2 img, .chess3 img{
    width: 700px;
    height: 440px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.chess1 p{
    text-align: justify;
    width: 600px;
    font-size: 28px;
}

.chess2 p{
    text-align: justify;
    width: 600px;
    font-size: 28px;
}

.chess3 p{
    text-align: justify;
    width: 600px;
    font-size: 28px;
}

/* ----------  события мыши  ---------- */

.activity:hover{
    box-shadow: 0px 0px 34px 0px rgb(221, 221, 221);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.activity:hover .img, .img, .activity:hover p{
    color: #40434C;
    opacity: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.workCard:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 34px 0px rgb(221, 221, 221);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.newPageLink:hover .showMore{
    background-color: #499fe6;
    color: white;
}

.inputForm:focus{
    outline: none;
    border: 1px solid #499fe6;
}

/* ----------  медиа запросы  ---------- */

@media screen and (max-width: 1440px){
    .mainTxt{
        font-size: 40px;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }
    
    .activity p{
        font-size: 30px;
    }

    .activity img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 1100px){
    .mainTxt{
        font-size: 30px;
    }

    .tossing{
        width: 34px;
        height: 34;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }

    .activity p{
        font-size: 20px;
    }

    .activity img{
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 530px){
    .mainTxt{
        font-size: 22px;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }

    .activity p{
        font-size: 11px;
    }

    .activity img{
        width: 80px;
        height: 80px;
    }

    .sliding{
        width: 28px;
        height: 28px;
    }
}

/* ----------  анимации  ---------- */

.sliding{
	animation-name: sliding;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes sliding {
	0% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
}
	50% {
		transform: translateY(13px);
		-webkit-transform: translateY(13px);
		-moz-transform: translateY(13px);
		-ms-transform: translateY(13px);
		-o-transform: translateY(13px);
}
	100% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
}						
}