/* ----------  щрифты  ---------- */

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
    font-weight: 500;
}

/* ----------  стили  ---------- */

html{
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    width: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Gilroy;
}

::selection{
    background: #75b9f1;
}

body{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 96%;
    margin: auto;
}

header{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    user-select: none;
}

.bodyContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainTxt{
    margin-top: 300px;
    margin-bottom: 300px;
    font-weight: 500;
    font-size: 48px;
    color: #40434C;
    text-align: center;
}

.mainTxt1{
    font-weight: 500;
    margin-bottom: 140px;
    font-size: 48px;
    color: #40434C;
    text-align: center;
}

.sliding{
    user-select: none;
    -webkit-user-drag: none;
}

.burger::after{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 60px;
    background-color: #40434C;
}

.burger::before{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 60px;
    background-color: #40434C;
    margin-bottom: 6px;
}

.activities{
    margin-top: 250px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities .mainTxt{
    margin-bottom: 150px;
}

.activity1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 360px;
    padding: 50px 0px;
    margin-bottom: 50px;
    transition: .1s ease;
    border: solid 1px transparent;
}

.activity2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 360px;
    padding: 50px 0px;
    margin-bottom: 50px;
    transition: .1s ease;
    border: solid 1px transparent;
}

.activityBlock1{
    display: flex;
    justify-content: space-around;
    width: 1540px;
    cursor: pointer;
}

.activityBlock2{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    cursor: pointer;
}

.activity1 img, .activity2 img{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    -webkit-user-drag: none;
    user-select: none;
}

.activityBlock1 p, .activityBlock2 p{
    font-size: 28px;
    color: #40434C;
    text-align: center;
    user-select: none;
}

/* ----------  события мыши  ---------- */

.activity1:hover, .activity2:hover{
    border: solid rgb(214, 214, 214) 1px;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

/* ----------  медиа запросы  ---------- */

@media screen and (max-width: 1440px){
    .mainTxt{
        font-size: 40px;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }
    
    .activity p{
        font-size: 30px;
    }

    .activity img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 1100px){
    .mainTxt{
        font-size: 30px;
    }

    .tossing{
        width: 34px;
        height: 34;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }

    .activity p{
        font-size: 20px;
    }

    .activity img{
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 530px){
    .mainTxt{
        font-size: 22px;
    }

    .activity1, .activity2{
        flex-wrap: wrap;
    }

    .activity p{
        font-size: 11px;
    }

    .activity img{
        width: 80px;
        height: 80px;
    }

    .sliding{
        width: 28px;
        height: 28px;
    }
}

/* ----------  анимации  ---------- */

.sliding{
	animation-name: sliding;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes sliding {
	0% {
		transform: translateY(-5px);	
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px);	
	}						
}